<div class="form-container">
  <app-title [title]="'Editar Usuário'"></app-title>
  <div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" class="form-control" formControlName="name" type="text">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" formControlName="email" type="email">
      </div>

      <div class="form-group">
        <label for="phone">Telefone</label>
        <input id="phone" class="form-control" formControlName="phone" type="text" mask="(00) 00000-0000">
      </div>

      <div class="btn cancel" (click)="onCancel()">Cancelar</div>
      <button type="submit" class="btn">Cadastrar</button>
    </form>
  </div>
</div>
