.header
  position: fixed
  display: flex
  justify-content: space-between
  align-items: center
  background: #0025A8
  height: 80px
  width: 100%
  padding: 0 54px

.example-spacer
  flex: 1 1 auto

.logo-container
  display: flex
  align-items: center
  height: 50px
  width: 100px
  cursor: pointer

.logo
  height: 100%
  width: auto
.nav-menu
  ul
    list-style: none
    display: flex
    align-items: center
    gap: 50px
  h1
    width: 100px
    text-align: center
    font-size: 24px
    font-weight: 600
    color: #FFF
  li
    cursor: pointer
  li.active
    border-bottom: 5px solid red
    border-radius: 8px

@media (max-width: 750px)
  .nav-menu
    ul
      gap: 20px
    h1
      width: 70px
      font-size: 14px
  .header
    padding: 0px 15px
  .logo-container
    height: 35px
    width: 30px
